/*
* @Author: Administrator
* @Date:   2018-11-19 13:38:14
* @Last Modified by:   Administrator
* @Last Modified time: 2018-11-20 08:42:04
*/
/*css reset*/
*{
    margin :0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font:12px/1.5 tahoma,arial,Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type = 'checkbox']{
    cursor:pointer;
}

/*定宽布局*/
.w{
    width:1080px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    /*清除浮动，超出隐藏*/
}

/*全局通用样式*/
/*隐藏*/
.hide{
    display: none;
}
/*超链接*/
.link{
  color:#999;
  cursor: pointer;
  text-decoration: none;

}

.link:hover{
    color:#e80012;
}
.link-text{
    color:#999;
    text-decoration: none;
}


/*btn按钮,属性编写顺序，显示形式，由内向外写，paddin->border */
/*先字体相关或先按钮相关*/
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border:none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color:#fff;
    outline:none;
    cursor: #fff;
    text-decoration: none;

}
.btn-mini{
    height:25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}

/*loading*/
.loading{
    display: block;
    width:60px;
    height:60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    opacity: .6;
    background: url('../../images/icon/loading.gif') no-repeat;
}