/*
* @Author: Administrator
* @Date:   2018-11-20 14:35:09
* @Last Modified by:   Administrator
* @Last Modified time: 2018-11-20 17:15:16
*/

/*导航主体*/
.nav-side{
    float: left;
    width:130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 14px;
    
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color:#e60233;
}
/*右侧内容区、*/
.content.with-nav{
    float:left;
    width: 950px;
}